body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(219, 152, 194);
    color: rgb(255, 255, 255);
    
}

button {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px rgba(245, 245, 245, 0.904);
}

p {
    text-align: center;
}

div {
    font-size: 40pt;
}

input {
    align-content: center;
    block-size: auto;
}

